PySide6==6.11.1
requests==2.34.2
numpy==2.3.5
opencv-contrib-python==4.10.0.84
dxcam==0.3.0
paddleocr==3.7.0
paddlex==3.7.2
comtypes==1.4.16
winrt-runtime==3.2.1
winrt-Windows.Media.SpeechSynthesis==3.2.1
winrt-Windows.Media.Playback==3.2.1
winrt-Windows.Media.Core==3.2.1
winrt-Windows.Storage.Streams==3.2.1
